[Unit]
Description=DST Run
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=steam
Group=steam
ExecStart=/usr/bin/dstrun run
Restart=on-failure
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target